<!DOCTYPE html>

<html lang="pt-br" xmlns:th="https://thymeleaf.org">

<head>
	<!--Imports para trabalhar com materialize css-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="materialize.css" media="screen,projection" />
	<link type="text/css" rel="stylesheet" href="materialize.min.css" media="screen,projection" />
	<link rel="stylesheet" href="materialize.css">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<title>Página cadastramento</title>

<body>
	<h1>Cadastros de usuários</h1>

	<form action="/salvarpessoa" method="post">
		<label>Nome</label>
		<input type="text" name="nome">
		<label>Sobrenome</label>
		<input type="text" name="sobrenome">
		<label>Idade</label>
		<input type="number" name="idade">
		<input type="submit" value="Salvar">


	</form>
	
	<table>
		<th>ID</th>
		<th>Nome</th>
		<th>Sobrenome</th>
		<th>Idade</th>
		
		<tr th:each="pessoa$:{pessoas}">
			<td th:text="${pessoa.id}"></td>
			<td th:text="${pessoa.nome}"></td>
			<td th:text="${pessoa.sobrenome}"></td>
			<td th:text="${pessoa.idade}"></td>
		</tr>
	</table>

	<a href="/index">Página inicial</a>


	<script type="text/javascript" src="materialize/js/materialize.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>


</body>

</html>