<!DOCTYPE html>
<html lang="pt-br">

<head>
	<!--Imports para trabalhar com materialize css-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.css" media="screen,projection" />
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<title>Página inicial</title>

<body>

	<script type="text/javascript" src="materialize/js/materialize.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

	<h1>Seja bem-vindo</h1>
	<a href="cadastros/cadastropessoa">Cadastros de pessoas</a>

</body>

</html>